<!DOCTYPE html>
<html>
<head>
    <style>
     body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .dashboard-container {
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }
    </style>
    <title>Dashboard</title>
</head>
<body>
    
    <div class="dashboard-container">
    
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Welcome to your dashboard.</p>
    <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>